body{
    font-family: 'Raleway';
}
.container{
    text-align: center;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2%;
    font-family: 'Raleway';
    border: #900C3F solid 1px;
    border-radius: 20px;
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: -60px;
}
.icons{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.name{
    color: #900C3F;
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
    padding-top: 50px;
}
.role{
    color: #900C3F;
    font-weight: lighter;
    padding: 10px;
}
.description{
    padding: 5px;
}
.mini-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    padding-left: 35%;
}
.bottom-div{
    margin: 0;
    background-color: #900C3F;
    color: white;
    padding: 13px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 100;
}
.image-container{
    background-color: #900C3F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 7px;
    padding-top: 20px;
}